/*Chat containers */
.container {
    border: 2px solid #1a2ee9;
    background-color: #2aa4f5;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
  }
  
  /* Darker chat container */
  .darker {
    border-color: rgb(46, 102, 224);
    background-color: rgb(221, 221, 221);
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: black;
  }
  
  /* Style time text */
  .time-left {
    float: right;
    color: black;
  }

  #written {
      margin-left: 240px;
      width: 40%;
      display: inline;
      
      border-radius: 5px;
   
  }
  
  #send {
      width: 10%;
      margin: 10px auto;
      border-radius: 5px;
  } 
